body{
    margin: 0;
    box-sizing: border-box;
    background-color: hsl(0, 0%, 95%);
}

#cardContainer{
    display: flex;
    flex-direction: column;
    width: 375px;
    margin-left: auto;
    margin-right: auto;
}

.card{
    display: flex;
    flex-direction: column;
   
}

#orange{
    background-color: hsl(31, 77%, 52%);
    padding-top: 30px;
    padding-left: 40px;
    margin-top: 80px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#words h1{
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Big Shoulders Display', cursive;
}

#words p{
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    line-height: 30px;
    padding-right: 40px;
  
}

#button{
    padding-bottom: 50px;
}

#button #orangeB{
    font-size: 15px;
   padding: 15px;
   padding-left: 20px;
   padding-right: 20px;
   border-radius: 20px;
   border: 1px solid white;
   color: hsl(31, 77%, 52%);
   
}
 #button #orangeB:hover{
  
 background-color: hsl(31, 77%, 52%);
 color:hsla(0, 0%, 100%, 0.75) ;
}

#button #cyanB:hover{
    color:hsla(0, 0%, 100%, 0.75) ;
    background-color:hsl(184, 100%, 22%) ;
}

#button #vCyanB:hover{
    color:hsla(0, 0%, 100%, 0.75) ;
    background-color: hsl(179, 100%, 13%);
}

#button #cyanB{
    font-size: 15px;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    border: 1px solid white;
    color: hsl(184, 100%, 22%);
}

#button #vCyanB{
    font-size: 15px;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    border: 1px solid white;
    color: hsl(184, 100%, 22%);
}





#dCyan{
    background-color: hsl(184, 100%, 22%);
    padding-top: 30px;
    padding-left: 40px
}

#vDCyan{
    background-color: hsl(179, 100%, 13%);
    padding-top: 30px;
    padding-left: 40px;
    margin-bottom: 80px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}



@media screen and (min-width:1440px) {
    #cardContainer{
        width: 1200px; 
        flex-direction: row;
    }

    .card{
        width: 400px;
    }
    
}
